# Configurações do Supabase
VITE_SUPABASE_URL=https://hoepznsyzdlrzzlrlurp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvZXB6bnN5emRscnp6bHJsdXJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNzE3MzgsImV4cCI6MjA3ODc0NzczOH0.0W-dZiHbd4PIQcB8FDZIBgdNVlAtKPIBaUvbSdCVlNc

# Configurações do Gemini (Opcional se rodar no AI Studio)
GEMINI_API_KEY=
